<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js" integrity="sha256-XmdRbTre/3RulhYk/cOBUMpYlaAp2Rpo/s556u0OIKk=" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="/javascripts/test.js"></script>
    <link rel='stylesheet' href='/stylesheets/form.css'/>
</head>
<body>
    <div class="form-wrap">
        <div class="profile"><img src="https://html5book.ru/wp-content/uploads/2016/10/profile-image.png">
          <h1>Регистрация</h1>
        </div>
        <form method="post" action="test.js">
          <div>
            <label for="name">Имя</label>
            <input type="text" name="name" required>
          </div>
          <div>
            <label for="text">Желание на Новый Год</label>
            <input type="text" name="text">
          </div>
          <div class="radio">
            <span>Пол</span>
            <label>
              <input type="radio" name="sex" value="мужской">мужской
              <div class="radio-control male"></div>
            </label>
            <label>
              <input type="radio" name="sex" value="женский">женский
              <div class="radio-control female"></div>
            </label>
          </div>
          <div>
            <label for="email">E-mail</label>
            <input type="email" name="email" required>
          </div>
          <div>
            <label for="country">Страна</label>
            <select name="country">
              <option>Выберите страну проживания</option>
              <option value="Россия">Россия</option> 
              <option value="Украина">Украина</option> 
              <option value="Беларусь">Беларусь</option> 
            </select> 
            <div class="select-arrow"></div> 
          </div> 
          <button type="submit">Отправить</button> 
        </form> 
      </div>
</body>
</html>